body, html{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.container {
    min-height: 100vh;
}


.header {
    background-color: #0E2954;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 20%; 
}

#name {
    font-size: 1.4rem;
    font-weight: 700;
}

#values > ul {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 30px;
}

a {
    color: white; 
    text-decoration: none;
}

.hero {
    background-color: #1F6E8C;
    display: flex;
    align-items: center;
    gap: 60px;
    padding: 25px 20%; 

}


#photo {
    display: flex;
    justify-content: center; 
    align-items: center; 
    padding: 15px;
    
}
#photo > img {
    border-radius: 50%;
    width: 200px;
}

#description {
    color: aliceblue;
    font-size: 18px;
}


.Projects {
    display: flex;
    flex-direction: column;
    background-color: #2E8A99;
    color: aliceblue;
    align-items: center;
    padding-top: 20px;  
    
}
.cont_projects {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 60px;
    padding: 20px;
    
}

.sub_cont_pro > #img_1 {
    height: 250px;
    border-radius: 15%;
}
.sub_cont_pro a > #img_2 {
    border-radius: 15%;
    height: 250px;
    width: 380px;
    
}

.sub_cont_pro > p {
    width: 200px;
    font-size: 18px;
}

.sub_cont_pro > img {
    width: 100%;
    height: auto;
    border-radius: 10%;
}

.Footer {
    display: flex;
    flex-direction: column;
    background-color: #84A7A1;
    color: aliceblue;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.Footer #values ul li > a {
    color: #11999e; 
}

.Footer > #values {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    font-size: 20px;
    color: #11999e;
}

.Footer div > footer {
    padding: 20px;
}

/* Responsividad para móviles */
@media (max-width: 768px) {
    .header {
        flex-direction: column;
        text-align: center;
    }

    #values ul {
        flex-direction: column;
        gap: 5px; 
    }
    #photo {
        height: auto; 
        margin-bottom: 20px; 
    }

    .hero {
        padding: 15px 20px; 
        gap: 10px;
    }
    #description {
        font-size: 13px;
    }
    .cont_projects {
        grid-template-columns: 1fr; 
    }

}
